*{
    transition: 0.5s;
}
body{
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.sliderCont{
    width: 95%;
    height: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.slide{
    flex: 1;
    height: 80vh;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
    position: relative;
}
.active{
    flex: 10;
}
.active p{
    opacity: 1;
}
p{
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 40px;
    bottom: 9px;
}